body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

a .btn {
  cursor: pointer;
}

.float-right.img-thumbnail {
  margin-left: 2em;
  margin-bottom: 2em;
}

.header {
  padding-bottom: 1rem;
}

.jumbo-matte {
  background-color: #111;
  margin-bottom: 2em;
}

.title-bar {
  background-color: rgba(103, 184, 215, 0.1);
  border: 1px solid rgba(103, 184, 215, 0.2);
  border-width: 1px 0;
  padding: 4em 0 1em 0;
  margin-bottom: 1em;
}

.footer {
  padding: 2em 0;
  margin-top: 5em;
  background-color: rgba(103, 184, 215, 0.1);
  border: 1px solid rgba(103, 184, 215, 0.2);
}

.footer .col-lg-4 {
  margin-bottom: 3em;
}

.footer h4 {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  display: block;
  border-bottom: 1px solid rgba(103, 184, 215, 0.2);
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer-pages ul {
  column-count: 2;
}

.footer ul li {
  margin-bottom: 0.15em;
  list-style: none;
}

.footer p {
  max-width: 19em;
}

.homepage h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.container-curriculum blockquote {
  font-size: 20px;
  font-family: 'Ariel', sans-serif;
  background: rgba(103, 184, 215, 0.1);
  border-left: 10px solid rgba(103, 184, 215, 0.4);
  margin: 1.5em 10px;
  padding: 4em 2em 2em;
  quotes: "\201C""\201D""\2018""\2019";
}
.container-curriculum blockquote:before {
  color: rgba(103, 184, 215, 0.6);
  content: open-quote;
  font-size: 6em;
  line-height: 0.0em;
  margin-right: 0.25em;
  float: left;
}
.container-curriculum blockquote p {
  color: #15252b;
  display: inline;
}
.container-curriculum blockquote cite {
  font-weight: 200;
  color: rgba(103, 184, 215, 1.0);
  display: block;
  margin-top: 1em;
  margin-left: 5em;
}

.resources h2,
.resources ul li {
  margin-top: 1em;
}

.disclaimer {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  font-size: 13px;
  color: #ccc;
  line-height: 1.25em;
}

.disclaimer strong {
  color: #999;
}

.bio-photo {
  max-width: 240px;
}
