<div class="container">
  <nav class="navbar navbar-light navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#rikersNavbar" aria-controls="rikersNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" height="50px" alt="Rikers Debate Project">
    </a>

    <div class="collapse navbar-collapse" id="rikersNavbar">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item"><a class="nav-link" href="/board">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="https://paypal.me/rikersdebate" target="_blank">Support</a></li>
        <li class="nav-item"><a class="nav-link" href="/press">Press</a></li>
        <li class="nav-item"><a class="nav-link" href="/get-involved">Get Involved</a></li>
        <li class="nav-item"><a class="nav-link" href="/news-and-notes">News and Notes</a></li>
        <li class="nav-item"><a class="nav-link" href="/issues">Issues</a></li>
        <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/curriculum">Curriculum</a></li>
      </ul>
      <a class="nav-link active" target="_blank" href="/donate">
        <button class="btn btn-lg btn-success my-2 my-sm-0" type="submit">Donate</button>
      </a>
    </div>
  </nav>
</div>
