<div class="container">
  <nav class="navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" height="50px" alt="Rikers Debate Project">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item"><a class="nav-link" href="/">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="https://paypal.me/rikersdebate" target="_blank">Support</a></li>
        <li class="nav-item"><a class="nav-link" href="/press/">Press</a></li>
        <li class="nav-item"><a class="nav-link" href="/get-involved/">Get Involved</a></li>
        <li class="nav-item"><a class="nav-link" href="/news-and-notes/">News and Notes</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#">Issues</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="#">Events</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="#">Curriculum</a></li> -->
      </ul>
      <a class="nav-link active" target="_blank" href="https://www.paypal.me/rikersdebate">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Donate</button>
      </a>
    </div>
  </nav>
</div>
